
@using SistemaPessoal.Models
@model ViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/AgendaStyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/HomeNewStyleSheet.css" asp-append-version="true" />
}

<div class="text-center">
    <div class="card-corpo">
        <h1>Visão geral<i class="bi bi-tv-fill mx-3"></i></h1>
    </div>

    <table id="Despesas" class="table table-hover">
        @* dando um ID para tabela, para poder estár usando os filtros já exportados *@
        <thead>
            <tr>
                <th scope="col">Paga</th>
                <th scope="col">Despesa</th>
                <th scope="col">Observações</th>
                <th scope="col">Valor</th>
                <th scope="col">Vencimento</th>
            </tr>
        </thead>
        <tbody>

            @* condição para  saber se há registro na tabela *@

            @if (Model != null)
            {
                @foreach (var despesa in Model.Despesas)
                {
                    <tr>
                        <td>
                            @if (despesa.Paga == "Sim")
                            {
                                <i class="bi bi-check-circle-fill text-success mx-2">Sim</i>
                            }
                            else
                            {
                                @despesa.Paga
                            }

                        </td>
                        <th scope="row">@despesa.Despesa</th>
                        <td>@despesa.Observacao</td>
                        <td>@despesa.Valor</td>
                        <td>
                            @despesa.Vencimento.ToString("yyyy-MM-dd")
                        </td>
                    </tr>                   
                }
            }
        </tbody>
    </table>
    <div class="card-corpo">
        <h2>Agendamentos<i class="bi bi-journal-bookmark-fill mx-3"></i></h2>
    </div>

    <div class="container-agendamentos">
        <div class="quadrado">Texto 1</div>
        <div class="quadrado">Texto 2</div>
        <div class="quadrado">Texto 3</div>
        <div class="quadrado">Texto 4</div>
    </div>

</div>
